<!DOCTYPE html>
<html>
  <head>
    <title>StudentDetails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/search_form' %>
    <%= yield %>
    <% flash.each do |message_type, message| %>
      <% unless message_type == :timedout %>
        <div class="text-center <%= message_type.to_s %>-msg">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
